.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.app-background {
    background: linear-gradient(45deg, transparent 49%, #4e46e43d 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #4e46e435 49% 51%, transparent 51%);
    background-size: 3em 3em;
    background-color: #f1e8ff3f;
}