.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.app-background {
    background: url('../images/background.svg');
    background-size: cover;
    background-color: #f1e8ff3f;
    background-repeat: no-repeat;
}