<section class="container flex-center-center">
    <form [formGroup]="loginForm" class="form" (submit)="submit()">
        <h1 class="form__title">Login</h1>

        <mat-form-field class="form__input" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput>
            <mat-error *ngIf="loginForm.get('email')?.errors">{{inputErrorsService.getErrorMessage(loginForm.get('email'))}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form__input" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" type="password" matInput>
            <mat-error *ngIf="loginForm.get('password')?.errors">{{inputErrorsService.getErrorMessage(loginForm.get('password'))}}</mat-error>
        </mat-form-field>
        
        <button mat-raised-button class="form__submit" [disabled]="processing" type="submit" color="primary">Login</button>
        
        <article class="form__register">
            No tienes cuenta? <a routerLink="/auth/register">Create una!</a>
        </article>
    </form>
</section>