<section class="container flex-center-center">
    <form [formGroup]="registerForm" class="form" (submit)="submit()">
        <h1 class="form__title">Register</h1>

        <mat-form-field class="form__input" appearance="outline">
            <mat-label>First name</mat-label>
            <input formControlName="name" type="text" matInput>
            <mat-error *ngIf="registerForm.get('name')?.errors">Error</mat-error>
        </mat-form-field>
        <mat-form-field class="form__input" appearance="outline">
            <mat-label>Last name</mat-label>
            <input formControlName="lastName" type="text" matInput>
            <mat-error *ngIf="registerForm.get('lastName')?.errors">Error</mat-error>
        </mat-form-field>
        <mat-form-field class="form__input" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput>
            <mat-error *ngIf="registerForm.get('email')?.errors">Error</mat-error>
        </mat-form-field>
        <mat-form-field class="form__input" appearance="outline">
            <mat-label>phone</mat-label>
            <input formControlName="phone" type="tel" matInput>
            <mat-error *ngIf="registerForm.get('phone')?.errors">Error</mat-error>
        </mat-form-field>

        <mat-form-field class="form__input" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" type="password" matInput>
            <mat-error *ngIf="registerForm.get('password')?.errors">Error</mat-error>
        </mat-form-field>

        <article>
            <a routerLink="/auth/login">
                Ya tienes una cuenta?
            </a>
        </article>

        <button mat-raised-button class="form__submit" [disabled]="registerForm.invalid || processing" type="submit" color="primary">Register</button>
    </form>
</section>